<svg xmlns="http://www.w3.org/2000/svg" width="{{.TotalWidth}}" height="20" role="img" aria-label="{{.Label}}: {{.Value}}">
  <title>{{.Label}}: {{.Value}}</title>
  <linearGradient id="s" x2="0" y2="100%">
    <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
    <stop offset="1" stop-opacity=".1"/>
  </linearGradient>
  <clipPath id="r">
    <rect width="{{.TotalWidth}}" height="20" rx="3" fill="#fff"/>
  </clipPath>
  <g clip-path="url(#r)">
    <rect width="{{.LabelWidth}}" height="20" fill="#555"/>
    <rect x="{{.LabelWidth}}" width="{{.ValueWidth}}" height="20" fill="{{.Color}}"/>
    <rect width="{{.TotalWidth}}" height="20" fill="url(#s)"/>
  </g>
  <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110">
    <text aria-hidden="true" x="{{.LabelX}}" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)">{{.Label}}</text>
    <text x="{{.LabelX}}" y="140" transform="scale(.1)">{{.Label}}</text>
    <text aria-hidden="true" x="{{.ValueX}}" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)">{{.Value}}</text>
    <text x="{{.ValueX}}" y="140" transform="scale(.1)">{{.Value}}</text>
  </g>
</svg>
